@model Covid19Tracker.Entities.Tracker.CovidCase

@{
    ViewData["Title"] = "Create";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1>Create</h1>

    <h4>Covid Cases</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Nationality" class="control-label"></label>
                        <select asp-for="Nationality" class="form-control">
                            <option value="Nigeria">Nigeria</option>
                        </select>
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CaseStatus" class="control-label"></label>

                        <select asp-for="CaseStatus" class="form-control" asp-items="Html.GetEnumSelectList<Covid19Tracker.Entities.Tracker.CaseStatus>()"></select>
                        <span asp-validation-for="CaseStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <select asp-for="State" class="form-control">
                            <option value="Abuja FCT">Abuja FCT</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nassarawa">Nassarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">
                <label asp-for="DateofRecorvery" class="control-label"></label>
                <input value="00-00-0000" asp-for="DateofRecorvery" type="date" class="form-control" />
                <span asp-validation-for="DateofRecorvery" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfDeath" class="control-label"></label>
                <input value="00-00-0000" asp-for="DateOfDeath" type="date" class="form-control" />
            </div>*@
                </div>

                <div class="col-md-6 col-sm-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Covid19Tracker.Entities.Tracker.Gender>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>*@
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
