@model Covid19Tracker.Entities.Tracker.CovidCase

@{
    ViewData["Title"] = "Create";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1>Create</h1>

    <h4>Covid Cases</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="row">
                <div class="col-md-6 col-sm-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Covid19Tracker.Entities.Tracker.Gender>()"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CaseStatus" class="control-label"></label>

                        <select asp-for="CaseStatus" class="form-control" asp-items="Html.GetEnumSelectList<Covid19Tracker.Entities.Tracker.CaseStatus>()"></select>
                        <span asp-validation-for="CaseStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="DateofRecorvery" class="control-label"></label>
                        <input asp-for="DateofRecorvery" class="form-control" />
                        <span asp-validation-for="DateofRecorvery" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="DateOfDeath" class="control-label"></label>
                        <input asp-for="DateOfDeath" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
