@model Covid19Tracker.Entities.Tracker.CovidCase
@{
    ViewData["Title"] = "Search By Age or State";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1>Get Cases By Age or State</h1>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card card-body mt-3">
                @*<form method="get" asp-action="GetAllByAge" asp-controller="CovidCases">
                    <div class="form-group">
                        <select class="form-control" asp-for="Age">
                            <option value="0,10">0 - 10 years</option>
                            <option value="11,20">11 - 20 years</option>
                            <option value="21,30">21 - 30 years</option>
                            <option value="31,40">31 - 40 years</option>
                            <option value="41,50">41 - 50 years</option>
                            <option value="51,60">51 - 60 years</option>
                            <option value="61,70">61 - 70 years</option>
                            <option value="71,80">71 - 80 years</option>
                            <option value="81,90">81 - 90 years</option>
                            <option value="91,100">90 - 100 years</option>
                            <option value="100,200">Above 100 years</option>
                        </select>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block mt-3">Get Cases</button>
                        </div>
                    </div>
                </form>*@

                <br />


            </div>


            <hr />
            <div class="card card-body mt-3">
                <form method="get" asp-action="GetAllByState" asp-controller="CovidCases">
                    <div class="form-group">
                        <select class="form-control" asp-for="State">
                            <option value="Abuja FCT">Abuja FCT</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nassarawa">Nassarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>

                        </select>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block mt-3">Get Cases</button>
                        </div>
                    </div>
                </form>

                <br />


            </div>
        </div>
    </div>
</div>